<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/channels">Channels</a></li>
    <li><a href="/searchStudents">Search For a Student</a></li>
    <li><a href="/campusMap">Campus Map</a></li>
    <li><a href="/clubDirectory">Club Directory</a></li>
    <li><a href="/eventsCalendar">Events Calendar</a></li>
</nav>
