<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Campus Map</title>

  </head>

  <body>
    <% include partials/nav.ejs %>
    <div id="main" class="main">
      <h1>SJSU Campus Map </h1>
      <img src="assets/SJSUMap.jpg">
    </div>
  </body>
</html>
