<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>SpartanConnect - Channels</title>
	
	<style>
		#channelSection {
		width: 100%;
		height: 90%;
		}
		
		#channels_list {
		list-style: none;
		}
		
		#onlineList {
		float: right;
		width: 15%;
		height: 90%;
		background-color: white;
		}
		
		#channels_msg_list {
		left: 10vh;
		width: 65%;
		height: 80vh;
		overflow: auto;
		position: relative; bottom: 0;
		list-style: none;
		padding-left: 20px;
		background-color: #9EF9FF;
		}
		
		#myChannels {
		float: left;
		width: 10%;
		padding-right: 10px;
		}
	</style>
  </head>

  <body>
    <% include partials/nav.ejs %>
    <div class="main">
      <h2>Channels - (current channel's name)</h2>
	  
	  <section id = channelSection>
		<div id = myChannels>
			<ul id="channels_list">
				<li>CS160</li>
				<li>Fun Channel</li>
				<li>Lost and Found</li>
				<li>Marketplace</li>
			</ul>
		</div>
		<div id = onlineList>
			<ul id="channels_list">
				<li>Currently online:</li><br>
				<% users.forEach(function(user){ %>
					<li><%= user.name %></li>
				<% })%>
			</ul>
		</div>
		  <ul id="channels_msg_list">
			<li>Message1</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>There's also a lot of hard-coded messages here. It's for testing the scroll bar!</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>AAA</li>
			<li>AAA</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>AAA</li>
			<li>AAA</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>These messages are hard-coded messages for the prototype; the real messages should be read from a database and then shown here.</li>
			<li>AAA</li>
			<li>AAA</li>
				<% users.forEach(function(user){ %>
					<li><%= user.text %></li>
				<% })%>
			
		  </ul>
	  </section>
	  
    </div>
  
  </body>
</html>
