<!DOCTYPE html>
<html>
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Club Directory</title>

</head>

<body>
  <% include partials/nav.ejs %>
  <div class="main">
    <div style="height: 25px;"></div>
    <h1 style="font-size: 4em;">SJSU Club Directory</h1>

    <input 
      type="text" 
      id="clubSearchInput" 
      onkeyup="clubSearchFunction()" 
      placeholder="Search for SJSU Clubs" 
      class="form-control"
      style="margin: 10px auto; max-width: 75%;">

    <div style="overflow-y: scroll; max-height: 500px; max-width: 75%; margin: 50px auto;">
      <ul id="clubList" class="list-group">
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62275">3D Printing Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/77174">A D.O.S.E of Kindness</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52471">Abstraction</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47432">ACM SIGGRAPH Student Chapter at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46203">Active Minds at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48721">Acts2 Christian Fellowship at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/49207">Advanced Space Exploration</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45499">Advancement Institute for Management</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76359">Aero Meets Astro</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/61912">Affordable Engineering Design and Development</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47466">African American Commencement Committee</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47371">AICHE</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47430">AIESEC</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44887">AkbayanSJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44901">Alabaster House of Prayer</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48207">All Comedy SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47409">ALMAS</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46235">Alpha Epsilon Pi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48730">Alpha Eta Rho</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45632">Alpha Kappa Delta Phi Sorority</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47695">Alpha Kappa Omega</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47378">Alpha Kappa Omicron</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48609">Alpha Kappa Psi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47407">Alpha Omicron Pi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/49093">Alpha Phi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47488">Alpha Phi Omega</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46205">Alpha Phi Sigma</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47381">Alpha Sigma Phi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47391">Alpha Tau Delta</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47724">Alpha Tau Omega Fraternity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48547">Alpha Xi Delta</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48183">Amateur Radio Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76972">American Association of University Women</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47377">American Concrete Institute</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47390">American Library Association Student Chapter</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47475">American Society of Civil Engineers</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48549">American Society of Mechanical Engineers at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76463">Anime Club at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47364">Anthropology Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48369">Apartments Council</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62256">AR/VR Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52469">Armenian Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47367">Arnold Air Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48715">Art History Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48622">Ashurian Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46236">Asian American Christian Fellowship</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67549">ASL at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45634">Assembly of Nurse Scholars</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62277">Atmiya Care Charity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48538">Badminton Club at Club Sports</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52355">Best Buddies</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48277">Beta Alpha Psi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/75391">Beta Beta Beta Biological Honor Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48200">Beta Theta Pi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44891">Beta Upsilon Chapter of Alpha Omega Epsilon</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/49282">Billiard Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47425">Biology Students Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44886">Biomedical Engineering Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"v><a href="https://sjsu.my.campusapp.com/#/clubs/48210">Black Campus Ministries </a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52463">Black Honor Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62374">Black Male Collective</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45117">Black Student Union</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52338">Black Women's Collective</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67429">BlockLegion</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48182">BMEidea</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47446">Bowling Team at SJSU</a></li>
        <li  class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47615">Braven at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48223">CADRE Student Organization</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44897">California Nursing Students' Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48344">Campuses Organized and United for Good Health at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76803">Career Development Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44894">Center Stage Productions</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47375">ChAD Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46069">Chi Epsilon Chapter 79</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47394">Chicano Commencement</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48197">Chinese Campus Fellowship</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48064">Chinese Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47387">CHIPISIGMA</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48436">Choirs at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45368">Christians on Campus</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47458">Circle K International</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48368">Classics Hall Government</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62231">Club Figure Skating</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52483">Club Softball at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48619">Club Swimming</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/75908">College Awareness Network</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/77181">College Republicans at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47400">COMM Network Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46073">Competitive Dance Team- Sirens of Sparta</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52449">Computer Electronics and Networking Technology Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48262">Computer Science Club at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45626">Counselor Education Graduate Organization</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/58331">Cru</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/61008">Cube^3</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48367">CVC Hall Government</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/66956">Cyber Spartans</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47476">Cycling Club at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/66577">Daedelus Rocket Engineering and Manufacturing</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67627">Data Science Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47440">Delta Gamma</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47605">Delta Sigma Pi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45514">Delta Zeta</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/61553">Design Build Fly at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48605">Destino</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52451">DREAM</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76620">Dungeons & Dragons at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76973">Early Childhood Student-Alumni Network</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67390">Eco Representatives</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52455">Economics Club at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47415">El Espartano Noticias</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76788">Electric Vehicle Wireless Charging Research Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76465">Engineering Management Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47411">Engineers Without Borders</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76831">English Lit & Writing Professional Development Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46063">Environmental Resource Center</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45629">Epic Movement</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/53771">Epsilon Pi Tau</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62139">Esports at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47423">Film Production Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/66949">Finance and Economics Women's Club SJSU Chapter</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48638">Financial Management Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76943">First Love SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46241">Forensic Science Students</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48720">Fresh Pressed Print Makers' Guild</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47697">Game Development Club at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47442">Geology Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62174">Girls Who Code Loop</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47445">Global Medical Brigades</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48194">Global Operations Management Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48208">Global Student Network</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/77257">Google Developer Student Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47412">Graduate Business Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48049">Grupo Folklorico Luna y Sol</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48267">Gymnastics Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44896">Habesha Students Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47719">Health Science Honor Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/77050">Her Campus SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47461">Hindu Yuva</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47449">History Club/Phi Alpha Theta</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45366">Hmong Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67562">Hong Kong Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67562">Hoplite</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47392">Hospitality Financial and Technology Professionals</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/41642">Human Factors and Ergonomics Society Student Chapter</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/41703">Ice Hockey at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47472">IDEAS</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48339">IDSA Student Chapter at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48268">IEEE EPS-CS</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52407">Improv Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76811">Inclusively Recognizing Student Parents</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48309">Indian Student Organization</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47427">Information Systems Audit and Control Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47410">Institute for Electrical and Electronics Engineers Student Branch at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45494">Institute of Industrial and Systems Engineers</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45143">Institute of Management Accountants</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48212">Institute of Transportation Engineers</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/49227">Interfraternity Council</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47413">Interior Design Student Organization</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/50268">International Business Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76043">International Culture and Communication Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47836">International Youth Fellowship</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45120">InterVarsity Christian Fellowship</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47702">Iota Phi Theta Fraternity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48282">ISPE</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48281">Japanese Student Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48066">Jewelry and Small Metals Guild</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48637">JSA Career at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48137">Juggle at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48201">Kappa Alpha Psi Fraternity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48731">Kappa Delta</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48716">Kappa Kappa Psi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48285">Kappa Sigma Fraternity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48186">Kendo and Naginata Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47376">Kinesiology Ambassadors Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47827">Korean Entertainment Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52065">Korean Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48636">Lambda Sigma Gamma Sorority</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46245">Lambda Theta Alpha Latin Sorority</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46021">Lambda Theta Phi Latin Fraternity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48687">Latino Business Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/49318">Latter-Day Saint Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44895">Lebanese Social Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48283">Linguistics and Language Development Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47478">M.E.Ch.A de SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/75944">Machine Learning at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46234">Management Information Systems Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/77180">Mariachi Oroazul de SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47465">Marketing Association at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47479">Master of Public Health Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45149">Material Advantage</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48639">Men's Club Soccer</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48695">Men's Club Water Polo</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48190">Men's Lacrosse at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48706">Men's Rugby Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46240">Men's Ultimate</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62166">MFA Li ftoff Show</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62093">Military Student's Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47454">Mini-Baja</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44902">Miniature Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76858">Mock Trial Team at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47468">Model UN SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48218">Moss Landing Marine Laboratories Student Body</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47613">MPH Online</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/49347">Mu Phi Epsilon</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52482">MUA SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47393">Muslim Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46074">NAfME Collegiate at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47985">National Pan Hellenic Council</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47983">National Residence Hall Honorary</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48608">National Student Speech-Language Hearing Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44905">NEO Design</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47616">Network for Environment and Energy Development</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47363">New Heights</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52350">Newman Catholic Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44899">Nigerian Students Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/69642">Nu Alpha Kappa</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46327">Nutrition and Food Science Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47700">Olympic and Powerlifting Team</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45633">Omega Psi Phi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48199">Order of Omega</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48630">Original Wizarding League of Spartans</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47406">Pakistani Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/49023">Panhellenic Council</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47404">Peer Health Education</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/75907">Percussion Club at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45617">Phi Beta Sigma Fraternity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67621">Philosophy Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52452">Photography Guild</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48620">Physics and Astronomy Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48615">Pi Kappa Phi: Iota Sigma</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48192">Pi Sigma Alpha</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48192">Pi Tau Sigma</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48181">Pi Theta Epsilon</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48227">Pilipino Commencement</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47414">Pitch, Please!</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47828">Poets & Writers Coalition at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47720">Pokémon Club at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62257">Pre-Dental Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76832">Pre-Law Justice Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/61794">Pre-Medical Psychology Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45281">Pre-Occupational Therapy Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45113">Pre-Pharmacy Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47396">Pre-Physical Therapy Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47389">Pre-Physician Assistant Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47416">Pre-Veterinary Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46244">Precision Drill Unit</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47693">Precision Flight Team</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47395">Pride of the Pacific Islands</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48065">Project SHINE</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45137">PRSSA</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47483">Psi Chi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47696">Public Health Nursing Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47397">Public Health Peer Advising</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47824">Queer & Asian SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67667">Racquetball Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48536">Real Options Campus Pregnancy Support Team</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48625">Recreation Therapy Association at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/56754">Reed Magazine</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45367">Reformed University Fellowship</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44909">Residence Hall Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48330">Sigma Theta Psi</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48276">Sikh Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62478">Silicon Valley Engineers</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45115">SJSU Design Studies Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47386">SJSU Dirty Brushes</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47374">SJSU hip hop club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47429">SJSU Pre-Nursing Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48288">SJSU Sculptor's Guild</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47463">SJSU Women’s Club Soccer team</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/61517">Ski and Snowboard Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67688">Small Hands Big Hearts</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46328">Society of Latino Engineers and Scientists</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48266">Society of Plastics Engineers</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47473">Society of Women Engineers</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47721">Soka Lions</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44889">SOON Movement</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47402">South Bay Assembly of Nursing</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47462">Spartan Advertising Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52486">Spartan Analytics</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/77175">Spartan Anglers Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47366">Spartan M.D.</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47388">Spartan Mambo</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48069">Spartan Organization for Astronautical Research</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44892">Spartans Toastmasters</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47484">Sport Management Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62232">Startup Grind SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48552">Steel Bridge Team</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52402">STEM NOW</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46071">Student Advocate for Higher Education</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47405">Student Alumni Connection</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47433">Students for Justice in Palestine</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45516">Students for the Exploration and Development of Space</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48211">Students Supporting Israel</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48209">Super Smash Bros at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44908">SWGSA</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44898">Table Top Gaming Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45636">Tahelka</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47417">Taiwanese Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45369">Tau Beta Pi Engineering Honor Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76212">The Health Initiative</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44903">SJSU MPA Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48135">The Native American Student Organization at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/59122">The Pre-Optometric Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47611">The SJSU Pre-Law Society</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44906">The Society for Human Resource Management at SJSU </a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/44888">The Spartan Self Defense Club of SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48539">The Spartones</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47482">The User Experience Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62175">The Valley Foundation school of nursing, class of Spring 2021</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48067">Theta Chi fraternity</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47452">TRANSITion SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/45131">Transportation Development</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67682">Turkish Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/67583">TVFSON Class of Fall 2021</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/75906">TYPO</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47722">Tzu chi collegiate association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/56822">Undergraduate social work association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62088">United Malaysians Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47984">United Sorority and Fraternity council</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/66312">Unity in the community</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47443">V-Day at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/50353">Vamos a Oaxaca - intercambio</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47609">Veterans Student Organization</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/46326">Vietnamese Student Association</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/66856">Women in Animation Student Chapter at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47431">Women in Aviation SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47401">Women in Business</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/52448">Women in Design</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/76199">Women Wellness</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62091">Women’s Club Basketball</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47716">Women’s Club Lacrosse</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48204">Women’s Club Volleyball </a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48331">Women’s Rugby Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47424">Women’s Water Polo</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48191">Yoga Club</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48724">Young Americans for Liberty at SJSU</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/62251">Young Life</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/48728">Zeta Chi Epsilon</a></li>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="https://sjsu.my.campusapp.com/#/clubs/47436">Zeta Phi Beta Sorority</a></li>
      </ul>
    </div>

  </div>
</body>
</html>
<script>
  function clubSearchFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('clubSearchInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("clubList");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>
