<!DOCTYPE html>
<html>

<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Muli|Playfair+Display&display=swap" rel="stylesheet">
  <title>Profile pages</title>

</head>

<body>
  <div class="wrapper">
    <% include partials/nav.ejs %>
    <div id="main" class="main">
      <div style="height: 25px;"></div>
      <button 
        class="btn btn-primary" 
        OnClick=" location.href='/' " 
        style="background-color: #E5A823; border: none;">
      Back</button>
      <h1 style="color: black;">Welcome to your profile, <%= data.username %> ! </h1>
    </div>
  </div>

</html>