<!DOCTYPE html>
<html>
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <title>Search For A Student</title>
</head>

<body>
  <% include partials/nav.ejs %>
  <div class="main">
    <h1>Search For A Student</h1>
    <%var input, filter;%>
    <%input = ""%>
    <%filter = ""%>
    <input type="text" id="studentSearchInput" placeholder="Search for A SJSU Student" onkeyup="clubSearchFunction()">
  </div>
</body>

</html>
<script type="text/javascript">
function clubSearchFunction() {
  input = document.getElementById('studentSearchInput');
  filter = input.value;
  console.log(input);
  data.find(function (err, student){
    if (student.length == 0){
      console.log("none found");
      <p>No Results</p>
     }else{
       student.forEach(function(s){
        var name = JSON.stringify(s.username);
        console.log(name);
        if (name.includes(filter)){
          console.log("Match found");
          <p>name</p>
        }
       });
    }
    });
}
</script>
