<!DOCTYPE html>
<html>
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Search For A Student</title>
</head>

<body>
  <% include partials/nav.ejs %>
  <div class="main">
  <div style="height: 25px;"></div>
  <h1 style="font-size: 4em;">Search For A Student</h1>
    <input
    type="text"
    id="studentSearchInput"
    placeholder="Search for A SJSU Student"
    class="form-control"
    onkeyup="studentSearchFunction()"
    style="margin: 10px auto; max-width: 75%;">
    <div style="overflow-y: scroll; max-height: 500px; max-width: 75%; margin: 50px auto;">

    <ul id="studentList" class="list-group">
      <% for (var i = 0; i < data.length; i++) { %>
        <li class="list-group-item" style="background-color: #f2f2f2;"><a href="/searchProfile/<%= data[i] %>"><%= data[i] %></a></li>
      <% } %>
    </ul>
  </div>
</body>

</html>
<script>
function studentSearchFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('studentSearchInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("studentList");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
