<!DOCTYPE html>
<html>
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <title>Search For A Student</title>
</head>

<body>
  <% include partials/nav.ejs %>
  <div class="main">
    <h1>Search For A Student</h1>
    <input type="text" id="studentSearchInput" placeholder="Search for A SJSU Student" onkeyup="studentSearchFunction()">
    <ul id="studentList">
      <%data.forEach(function(string){%>
        <li><a href="#"><%=string%></a></li>
      <%});%>
    </ul>
  </div>
</body>

</html>
<script>
function studentSearchFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('studentSearchInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("studentList");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
