div.main {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  margin-left: 200px;
  padding: 0px 10px;
}

html {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
text-align: center;
color: #000000;
font-family: 'Muli', sans-serif;
font-size: 48pt;
}

h2 {
color: #000000;
/* color: #01FE01; */
font-family: 'Muli', sans-serif;
font-size: 24pt;
margin-left: 24px;
}

/* for profile page */
p {
  text-align: center
}

/* Normal white Button as seen on Google.com*/
button {
color: #444444;
background: #F3F3F3;
border: 1px #DADADA solid;
padding: 5px 10px;
border-radius: 2px;
font-weight: bold;
font-size: 9pt;
outline: none;
}

button:hover {
border: 1px #C6C6C6 solid;
box-shadow: 1px 1px 1px #EAEAEA;
color: #333333;
background: #F7F7F7;
}

button:active {
box-shadow: inset 1px 1px 1px #DFDFDF;
}

.wrapper {
text-align: center;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a{
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: lightblue;
  color: black;
}

ul.sidenav li a:hover:not(.active) {
  background-color: darkblue;
  color: white;
}
